PORT=5000
JWT_SECRET=
MONGO_URI=mongodb://10.0.2.69/findmycliniq
FRONTEND_URL=https://findmycliniq.com
GOOGLE_CALLBACK_URL=#
GOOGLE_CLIENT_ID=#
GOOGLE_CLIENT_SECRET=#
RAZORPAY_KEY_ID=#
RAZORPAY_KEY_SECRET=#
CORS_ORIGINS=https://findmycliniq.com,https://clinic.findmycliniq.com,https://www.findmycliniq.com,https://admin.findmycliniq.com
RAZORPAY_WEBHOOK_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GMAIL_USER=#
GMAIL_APP_PASSWORD=#
BASE_URL=https://api.findmycliniq.com
FAST2SMS_API_KEY=#
#RAZORPAYX_KEY_ID=#
#RAZORPAYX_KEY_SECRET=#

